DATABASE_URL=
SESSION_ID=
REMOVEBG_KEY=
PREFIX=.
MODE=public
STATUSVIEW=true
ANTI_LINK=true
REJECTSCALLS=false
REPLY_STATUS=true
antidelete=true
BOT_NAME=Prince
AutoReaction=false
OWNER_NUMBER=923463206754;Decent-Nazim
DL_MSG=Downloaded successfully by *NazimX-MD*
STATUS_MSG=> Status seen by `Decent-Nazim`
owner_react_emojie=💋
AlwaysOnline=true
autoreactions_emojies=🥵,🤭,🤔,🫣,🙄,🤤
StatusLikes=true
StatusEmojies=💋
CALLMSG=For now calls are restricted by my owner `Decent-Nazim`
ANTIFAKE_USERS=1,212,63,44
PACK_NAME=NazimX-MD✓
BUSINESS_MODE=true
MENU_IMAGE=https://files.catbox.moe/fhk2br.jpg
